<div class="ui top fixed menu px-3">
  <%= link_to "Home", root_path, class: "active item" %>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <% if user_signed_in? %>
      <div class="ui dropdown item custom-dropdown">
        <span class="text space-mono-bold"><%= current_user.username %></span> <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Categories</div>
          <div class="item">
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "ui primary button" %>
          </div>
        </div>
    </div>
    <% else %>
      <div class="item">
        <%= link_to "Log in", user_session_path, class: "ui primary button" %>
      </div>
    <% end %>

  </div>

  
</div>
