/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

/* Slides */
.slide {
  display: none;
  position: relative;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

/* Navigation buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* Fade animation */
.fade {
  animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
  from {opacity: 0.4}
  to {opacity: 1}
}

// typography

.event-title {
  font-size: 44px;
}

.ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6).events-created {
  font-size: small;
}