<h1>Home page</h1>

<dl>
  <% @users.each do |user| %>
    <dt><%= user.email %></dt>
    <dd>- <%= user.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y, %I:%M %p") %></dd>
  <% end %>
</dl>