<% if @post.errors.any? %>
  <div class="my-3 text-danger font-monospace fs-6">
    <p><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</p>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>