<div id="<%= dom_id user %>" class="card mb-3 ms-3">
  <div class="ui card">
    <div class="image">
      <%= image_tag "avatar/large/image.png" %>
    </div>
    <div class="content">
      <a class="header"><%= user.username %></a>
      <%= user.email %>
    </div>
  </div>
</div>
